Source: proguard
Section: devel
Priority: optional
Maintainer: Sam Clegg <samo@debian.org>
Build-Depends: debhelper (>= 7.0.15), cdbs, gcj-4.3, ant, fastjar
Standards-Version: 3.8.1

Package: proguard
Architecture: all
Depends: ${misc:Depends}, kaffe | java-virtual-machine
Description: java class file shrinker, optimizer, and obfuscator
 ProGuard is a free Java class file shrinker, optimizer, and
 obfuscator.  It can detect and remove unused classes, fields,
 methods, and attributes. It can then optimize bytecode and remove
 unused instructions. Finally, it can rename the remaining classes,
 fields, and methods using short meaningless names. The resulting jars
 are smaller and harder to reverse-engineer.
